$bkgColor: #333333;
$fontColorBody: #999;
$hdColor: #FDFFFC;
$border: white;
$fontTitle: 'Open Sans Condensed', sans-serif;
$fontBody: 'Open Sans', sans-serif;


html, body {
  background-color: $bkgColor;
}

.leaderboard {
  font-size: 2em;
  text-align: center;
  padding: 3%;

  h1 {
    color: $hdColor;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2.1em;
    font-family: $fontTitle;
    font-weight: bold;
  }

  table {
    text-align: left;
    background-color: $bkgColor;
    box-shadow: 2px 3px 35px gray;
  }

  th {
    font-family: $fontTitle;
    font-weight: bold;
    font-size: 1.2em;
    color: $hdColor;
    text-align: center;
    border: solid 1px $border;
    background-color: darkgreen;
    padding: 20px;
  }

  td {
    font-family: $fontBody;
    color: $fontColorBody;
    border: solid 1px $border;
    border-collapse: collapse;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
  }

  .user {
    display: inline-block;
    margin-left: 20px;
  }

  .points {
    text-align: center;
  }

  .pointsHd {
    cursor: pointer;
  }
} // leaderboard end
