$bkgColor: #222;
$fontColor: white;

html, body {
  background-color: $bkgColor;
}

.leaderboard {
  font-size: 2em;
  color: $fontColor;

  h1 {
    color: red;
  }

  table {
    text-align: left;
    background-color: #444;

  }
  th {
    text-align: center;
  }

  td {
    border: dashed 1px green;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .user {
    display: inline-block;
    margin-left: 20px;
  }

  .points {
    text-align: center;
  }

  .pointsHd {
    cursor: pointer;
  }
} // leaderboard end
