html, body {
  background-color: #222; }

.leaderboard {
  font-size: 2em;
  color: white; }
  .leaderboard h1 {
    color: red; }
  .leaderboard table {
    text-align: left;
    background-color: #444; }
  .leaderboard th {
    text-align: center; }
  .leaderboard td {
    border: dashed 1px green; }
  .leaderboard img {
    height: 40px;
    width: 40px;
    border-radius: 50%; }
  .leaderboard .user {
    display: inline-block;
    margin-left: 20px; }
  .leaderboard .points {
    text-align: center; }
  .leaderboard .pointsHd {
    cursor: pointer; }
